.about{
    min-height: 400px;
    margin-top: -100px;
    &__request{
        width: 100%;
        background: white;
        border-radius: 10px;
        padding: 15px;
        display: flex;
        justify-content: space-between;
    }
    &__lesson{
        width: 562px;
        height: 288px;
        background: #00BCBE;
        border-radius: 10px;
        padding-top: 50px;
        &_title{
            font-weight: 800;
            font-size: 36px;
            line-height: 43px;
            color: #FFFFFF;
            text-align: center;
        }
        &_subtitle{
            width: 359px;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            color: #FFFFFF;
            margin: 0 auto;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        &_btn{
            width: 170px;
            height: 42px;
            background: #FFFFFF;
            border-radius: 100px;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            font-weight: 600;
            color: #00BCBE;
            text-transform: uppercase;
            margin: 0 auto;
            display: block;
            border: none;
            &:focus{
                outline: none;
            }
        }
    }
    &__membership{
        width: 562px;
        height: 288px;
        background: rgba(0, 0, 0, 0.75);
        border-radius: 10px;
        padding-top: 50px;
        &_title{
            font-weight: 800;
            font-size: 36px;
            line-height: 43px;
            color: #FFFFFF;
            text-align: center;
        }
        &_subtitle{
            width: 359px;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            color: #FFFFFF;
            margin: 0 auto;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        &_btn{
            width: 170px;
            height: 42px;
            background: #FFFFFF;
            border-radius: 100px;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            font-weight: 600;
            color: #404040;
            text-transform: uppercase;
            margin: 0 auto;
            display: block;
            border: none;
            &:focus{
                outline: none;
            }
        }
    }
}